body {
  font: 0.8em 'American Typewriter', Cambria, Caladea, 'DejaVu Serif Condensed', serif;
  line-height: 1.32;
  padding: 0 1.5em;
  background-color: #eee8d5;
  color: #073642;
  margin-left: -1em;
  margin-right: -1em;
}
a:link,
a:hover,
a:active {
  color: #268bd2;
  text-decoration: none;
}
a:visited {
  color: #6c71c4;
  text-decoration: none;
}
@media print {
  img {
    position: absolute;
    top: 0.2em;
    right: 0.3em;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #586e75;
  }
  a:after {
    display: none;
  }
}
@media screen {
  body {
    background-color: #073642;
  }
  #text {
    background-color: #eee8d5;
    margin: auto;
    padding-top: 0.5em;
    padding-left: 1.4em;
    padding-right: 0.5em;
    padding-bottom: 0.7em;
  }
  img {
    margin-top: -1em;
  }
}
@media screen and (max-width: 700px) {
  #text {
    margin: -1em;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 701px) {
  body {
    font-size: 0.86em;
  }
  #text {
    width: 47em;
  }
}
@media screen and (min-width: 800px) {
  body {
    font-size: 1em;
  }
}
img {
  float: right;
}
h1 {
  font: 2.5em 'Marker Felt', 'Segoe Print', 'Liberation Sans Narrow', 'DejaVu Sans Condensed', fantasy;
  font-style: italic;
  color: #2aa198;
  margin-top: 0;
  margin-bottom: -0.3em;
  margin-left: -0.15em;
}
h2,
h3,
h4 {
  margin-bottom: 0.4em;
}
h2 {
  color: #839496;
  margin-top: 0.8em;
  font-size: 1.4em;
}
h3 {
  border-top: 1px solid #839496;
  padding-top: 0.5em;
  margin-top: 1em;
  color: #657b83;
}
h4 {
  font-family: 'Marker Felt', 'Segoe Print', 'Liberation Sans Narrow', 'DejaVu Sans Condensed', fantasy;
  color: #586e75;
}
ul {
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}
li {
  margin-left: -2em;
  list-style: none;
}
li:before {
  content: '• ';
  color: #839496;
}
.right {
  border-left: 1px solid #93a1a1;
  margin-left: 0.7em;
  padding-left: 0.7em;
}
