!!! 5
%meta{:charset=>'utf-8'}
%link{:rel=>'stylesheet', :type=>'text/css', :href=>'cv.css'}
%title Vasyl Korytov
%body
  #text
    %p
      %img{:src=>'https://www.gravatar.com/avatar/a2ee72d2d877079c22f86f0c75b07068.png', :alt=>''}
    :markdown
      #{File.read(File.join(File.dirname(__FILE__), 'cv.md'))}
