doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='main.css')
    title Vasily Korytov
  body
    #text
      img#avatar(src='http://www.gravatar.com/avatar/a2ee72d2d877079c22f86f0c75b07068.png' alt='')
      table
        tr
          td
            h1 Vasily Korytov
            p
              a(href='cv/') About me and my IT background
          td.right
            h3 The Seventh Sky music band
            p
              a(href='https://youtube.com/7enebo/videos') YouTube
                span.right
                  a(href='https://soundcloud.com/7enebo') SoundCloud
      h2 My software
      p
        a(href='https://github.com/chillum/httpstress/wiki') httpstress
        | : CLI utility for stress testing of HTTP servers with many concurrent connections
      p
        a(href='https://github.com/chillum/jsonmon/wiki') jsonmon
        | : Quick and simple monitoring and alerting system
      p
        a(href='https://github.com/chillum/autoup') autoup
        | : Selenium robot for auto-bumping vBulletin posts
      p
        a(href='https://github.com/chillum/go4rake') go4rake
        | : Rake tasks for cross-compiling Go programs
      p
        a(href='https://github.com/chillum/gem4rake') gem4rake
        | : Rake tasks to assist developing Ruby Gems
      h2 More links
      p
        a(href='https://careers.stackoverflow.com/chillum') Stack Overflow Careers
        span.mid
          a(href='https://github.com/chillum') GitHub
        a(href='https://flickr.com/deskpot') Flickr
