!!! 5
%head
  %meta{:charset=>'utf-8'}
  %link{:rel=>'stylesheet', :type=>'text/css', :href=>'main.css'}
  %title chillum.github.io
%body
  #text
    %table
      %tr
        %td
          %h1 Vasily Korytov
          %p
            %a{:href=>'cv/'} About me and my IT background
        %td.right
          %h3 Hata Kota music band
          %p
            %a{:href=>'https://youtube.com/@hatakota/videos'} YouTube
            %span.right
              %a{:href=>'https://soundcloud.com/hatakota'} SoundCloud
            %span.right
              %a{:href=>'https://facebook.com/hatakota'} Facebook

    %h2 My software
    :markdown
      [httpstress](https://github.com/chillum/httpstress/wiki):
      CLI utility for stress testing of HTTP servers with many concurrent connections

      [jsonmon](https://github.com/chillum/jsonmon/wiki):
      Quick and simple monitoring and alerting system

      [ovpn-key](https://github.com/chillum/ovpn-key):
      Key management solution for OpenVPN

      [autoup](https://github.com/chillum/autoup):
      Selenium robot for auto-bumping vBulletin posts

      [go4rake](https://github.com/chillum/go4rake):
      Rake tasks for cross-compiling Go programs

      [gem4rake](https://github.com/chillum/gem4rake):
      Rake tasks to assist developing Ruby Gems

    %h2 More links
    %p
      %a{:href=>'https://github.com/chillum'} GitHub
      %span.right
        %a{:href=>'https://flickr.com/deskpot'} Flickr
