doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='main.css')
    title Vasily Korytov
  body
    h1 Vasily Korytov
    img(src='http://www.gravatar.com/avatar/a2ee72d2d877079c22f86f0c75b07068.png' alt='')
    h3 Who is Mr. Korytov?
    p
      a(href='cv/') About me and my IT background
    p
      a(href='https://www.youtube.com/user/7enebo/videos') The Seventh Sky music band
    h3 My software
    p
      a(href='https://github.com/chillum/httpstress-go') httpstress-go
      | : CLI utility for stress testing of HTTP servers with many concurrent connections
    p
      a(href='https://github.com/chillum/go4rake') go4rake
      | : Rake tasks for cross-compiling Go programs
    p
      a(href='https://github.com/chillum/autoup') autoup
      | : Selenium robot for auto-bumping vBulletin posts
    p
      a(href='https://github.com/chillum') See more at my GitHub page
